{% extends 'home.html' %}

{% block content %}

<div class="text-center text-xl font-bold">
    <p>โปรไฟล์</p>
</div>

<div class="max-w-lg mx-auto bg-white rounded-2xl border overflow-hidden mt-10">

    <div class="relative flex h-32 w-full justify-center bg-cover">
        <div class="absolute flex h-32 w-full justify-center rounded-t-sm bg-cover bg-[#2B3843]">
        </div>
        <div
            class="absolute -bottom-12 flex h-[120px] w-[120px] rounded-full border-[6px] border-white bg-pink-400 dark:!border-navy-700">
            <img class="h-full w-full rounded-full"
                src='https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png'
                alt="" />
        </div>
    </div>


    <p class="text-xl text-center mt-14">{{ user }}</p>
    {% if user.first_name %}
    <p class="text-xl text-center mt-5">{{ user.first_name }} {{ user.last_name }}</p>
    {% endif %}
    <!-- <p class="text-center font-light">Art Director | Creative & Art Direction</p> -->

    {% if user.email %}

    <p class="text-xl font-bold mt-5 text-center uppercase">ข้อมูลติตต่อ</p>



    <div class="m-5">
        <div class="my-2 flex h-12 items-center justify-center rounded-xl bg-green-400 m-5">
            <div class="flex items-center">
                <div class="ml-2">
                    <div class="">Email : {{user.email}}</div>
                </div>
            </div>
        </div>


    </div>
    {% endif %}

    <div class="m-5">
        <a href="{% url 'editprofile' %}">
            <div
                class="my-2 flex h-12 items-center justify-center rounded-lg text-white bg-slate-700 hover:bg-slate-900 m-20">
                <div class="flex items-center">
                    <div class="ml-2 ">
                        <div class=""><i class="fa-solid fa-user-pen"></i>&nbsp;&nbsp;แก้ไขโปรไฟล์</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

{% endblock %}